<footer>
  <div class = "span-24">
    [ <%= link_to "About",   about_path   %> |
      <%= link_to "Contact", contact_path %> |
      <%= link_to "Help",    help_path    %> |
      <%= link_to "Terms",   terms_path   %> |
      <%= link_to "Privacy", privacy_path %> ]

    <br />
    
    <div class = "small">2011 &copy; Quasar</div>
  </div>
</footer>