<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= render 'layouts/style' %>
  <%= csrf_meta_tag %>
</head>
<body><div class = "container">

  <%= render 'layouts/header' %>
  
  <div class = "span-3">
    &nbsp;
  </div>
  
  <div class = "span-15">
    <%= yield %>
  </div>
  
  <div class = "span-6 last">
    &nbsp;
  </div>

  <%= render 'layouts/footer' %>

</div></body>
</html>